.body-back-1 {
	z-index: -2;
	top: -40%;

	height: auto !important;
	width: 100%;
	object-fit: cover;
	position: absolute;
	
}
.gradient {
	position: absolute;
	z-index: 12;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1e252b);
}
.back-container {
	position: relative;
	width: 95vw;
	height: 30vh;
	box-sizing: border-box;
	object-fit: cover;
	z-index: 2;
	overflow: hidden;
}
.body-back {
	width: 95vw;
}
.body-content-container {
	right: 0;
	z-index: 3;
	height: 100vh;
	width: 95vw;
	position: absolute;
	margin: 0;
	overflow-x: hidden;
}
.body-content {
	position: absolute;
	margin-top: 40vh;
	margin-left: 4.5vw;
	width: 85vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	z-index: 456;
}
.goal-text {
	position: absolute;
	color: #868686;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 12vh;
	z-index: 23;
}
.goal_famimly_title {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 20vh;
	z-index: 322;
}
.goalIconImg {
	max-width: 5vw;
	border-radius: 50px;
	max-height: 7vh;
	position: absolute;
}
.goalIcon {
	width: 75px;
	height: 75px;
	z-index: 323;
	position: absolute;
	background-color: #1e252b;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 11vh;
	margin-right: 16vw;
}
.goalBG {
	background-size: cover;
	width: 22vw;
	height: 25vh;
	position: absolute;
	border-radius: 20px;
}
.card {
	width: 22vw;
	height: 25vh;
	cursor: pointer;
	border-radius: 20px;
}
.card:active,
card:visited {
	outline: none;
}
.card:after {
	content: '';
	width: 22vw;
	height: 25vh;
	position: absolute;
	background: transparent;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 16.67%,
		#000000 100%
	);
	//opacity: 0.5;
	border-radius: 20px;
	outline: none;
}
.body-goal {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.titleDescr {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 15vw;
	height: 20vh;
	align-self: flex-start;
	margin-left: 30vw;
	// margin-top: 9vh;
	justify-content: flex-end;
}
.goal-card-title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: white;
	z-index: 394938;
}
.goalDescription {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #868686;
	z-index: 394938;
}
.goal-img-container {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	margin-left: 10vw;
	z-index: 6547;
	background-color: #2c353d;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spotify {
	height: 85%;
	width: 85%;
	object-fit: contain;
}
.spotify-title {
	position: absolute;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 55px;
	color: #eeeeee;
	margin-top: 6vh;
	margin-left: 23vw;
}
.goal-button-join {
	position: absolute;
	margin-top: 6vh;
	left: 65vw;
	cursor: pointer;
	border-radius: 5px;
}
.waiting-approval {
	position: absolute;
	top: 140px;
	width: 250px;
	left: 65vw;
}
.error-approval {
	position: absolute;
	color: rgb(180, 75, 75);
	top: 110px;
	width: 250px;
	left: 65vw;
}
.joined {
	position: absolute;
	margin-top: 25vh;
	margin-left: 10vw;
	width: 40vw;
	height: 10vh;
	color: black;
	display: flex;
	flex-direction: row;
}
.joinedAndNum {
	display: flex;
	flex-direction: row;
}
.icon-joined-container {
	position: relative;
    width: 37px;
    height: 37px;
    border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.icon-joined-num {
	position: relative;
    width: 74px;
    height: 74px;
    border-radius: 100%;
	background-color: #C4C4C4;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	z-index: 10;
}
.icon-joined {
	position: absolute;
    object-fit: cover;
    width: 200%;
    height: 200%;
	transform: translate(20%, 25%);
	padding: 0;
	margin: 0;
    border-radius: 100%;
	
}
.rec.rec-arrow {
	visibility: hidden;
}
.rec.rec-dot {
	visibility: hidden;
}
