.parties {
    &__wrapper {
        margin-top: 60px;
		margin-left: 163px;
        width: 80vw;
    }
    &__title {
        margin-bottom: 30px;
        z-index: 100;
        font-size: 45px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;	
	    grid-template-rows: 300px;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        grid-gap: 20px;
        margin-bottom: 30px;
        .title {
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            margin-left: 30px;
            align-self: center;
        }
        &_default {
            display: grid;
            grid-template-columns: 1fr 1fr;	
            grid-template-rows: 300px;
            grid-gap: 20px;
            margin-bottom: 30px;
        }
        
    }
    &__item {
        // background-color:brown;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;	
	    grid-template-rows: 1fr 1fr;
        height: 300px;
        border-radius: 19px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        cursor: pointer;
        transition: all 1s;
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 19px;
            z-index: 1;
            background: linear-gradient(to top, #5062eea2 17%, rgba(177, 189, 75, 0.3) 100%);
        }
        div {
            &:nth-child(1) {
                grid-column: 1 / 4;
                
            }
        }
        &:hover {
            transition: all 0.7s;
            transform: scale(1.03);
            overflow-x: hidden;
        }
        &_default {
            border-radius: 19px;
            height: 300px;
            background-color: rgba(129, 129, 129, 0.329);
            cursor: pointer;
            transition: all 1s;
        }
        &_loader {
            border-radius: 19px;
        }
    }
    &__name {
        justify-self: center;
        align-self: end;
        text-align: center;
        font-size: 3.3vw;
        font-weight: 400;
        z-index: 10;
    }
    &__circle {
        position: relative;
        width: 82px;
        height: 82px;
        background: #1E252B;
        border-radius: 100%;
        padding: 10px;
        margin-left: 30px;
        z-index: 10;
        img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            
        }
    }
    &__admin {
        .parties__user-icon {
            width: 82px;
			height: 82px;
			background: #5063ee5e;
            img {
                width: 80%;
                height: 80%;
                transform: translate(-50%, -75%);
            }
        }
    }
    &__users {
        display: flex;
        justify-content: flex-start;
        height: 74px;
        align-self: center;
        margin-left: 60px;
        .parties__user-icon {
            margin-left: 0px;
            left: -2px;
            width: 37px;
            height: 37px;
            transform: translate(60%, 50%);
            img {
                width: 200%;
                height: 200%;
            }
        }
        
    }
    &__user {
        &-icon {
            position: relative;
            width: 74px;
            height: 74px;
            border-radius: 100%;
            padding: 10px;
            margin-left: 30px;
            z-index: 10;
            img {
                position: absolute;
                transform: translate(-50%, -50%);
                object-fit: cover;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                // z-index: 100;
            }
        }
    }

    &__descr {
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        
    }
    
}
