.top {
    &__wrapper {
        margin-top: 60px;
		margin-left: 163px;
        width: 80vw;
    }
    &__title {
        margin-bottom: 30px;
        z-index: 100;
        font-size: 45px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;	
	    grid-template-rows: 200px;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        grid-gap: 20px;
        margin-bottom: 30px;
        .title {
            font-weight: 500;
            font-size: 2.5vw;
            line-height: 36px;
            margin-left: 30px;
            text-align: center;
            width: 10.8vw;
        }
        &_default {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;	
            grid-template-rows: 200px;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            grid-gap: 20px;
        }
        
    }
    &__item {
        // background-color:brown;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // grid-template-columns: 1fr 0.5fr 1fr;	
	    // grid-template-rows: 1fr 1fr;
        height: 200px;
        border-radius: 19px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        cursor: pointer;
        transition: all 1s;
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 19px;
            z-index: 1;
            background: linear-gradient(to top, #5062eea2 17%, rgba(177, 189, 75, 0.3) 100%);
        }
        &:hover {
            transition: all 0.7s;
            transform: scale(1.03);
            overflow-x: hidden;
        }
        &_default {
            height: 200px;
            border-radius: 19px;
            background-color:rgba(145, 145, 145, 0.3);
        }
    }
    &__name {
        justify-self: center;
        align-self: end;
        text-align: center;
        font-size: 3.3vw;
        font-weight: 400;
        z-index: 10;
    }
    &__circle {
        position: relative;
        width: 82px;
        height: 82px;
        background: #1E252B;
        border-radius: 100%;
        padding: 10px;
        z-index: 10;
        img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            
        }
    }

    &__descr {
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        
    }
    
}