//уведомления
.container-notifications {
	position: absolute;
	width: 100vw;
}
.container-notifications.open {
	display: block;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 80px;
	transition: all 0.4s ease-in-out;
}
.container-notifications.close {
	//display: none;
	top: -600px;
	transition: all 0.4s ease-in-out;
	z-index: 100;
}
.notifications {
	//margin-top: 101px;
	margin-left: 65vw;
	background-color: #1e252b;
	z-index: 2;
	width: 409px;
	height: 414px;
	border: 2px solid #5063ee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	justify-content: space-evenly;
	border-radius: 43px;
	overflow: auto;
}
.notifications::-webkit-scrollbar {
	display: none;
}
.container-center-note {
	height: 304px;
	width: 316px;
}
.note {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-bottom: 35px;
}
.theNote {
	font-size: 18px;
	line-height: 21px;
	color: #eeeeee;
	font-weight: 100;
	width: 316px;
}
.time {
	font-size: 14px;
	line-height: 16px;
	color: #eeeeee;
	opacity: 0.4;
	font-weight: 100;
}
.btn-party {
	width: 118px;
	height: 24px;
	background-color: #1e252b;
	border-radius: 7px;
	border: solid 1px #5063ee;
	color: #5063ee;
	font-size: 14px;
	line-height: 16px;
}
.timeAndButton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}
.btn-answer {
	width: 164px;
	height: 24px;
	background-color: #eb5757;
	border-style: none;
	color: #eeeeee;
	border-radius: 7px;
	font-size: 14px;
	line-height: 16px;
}
.hashtag {
	color: #5063ee;
}
.red-text {
	color: #eb5757;
}
