.container {
	position: relative;
	max-width: 920px;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
		overflow: hidden;
}

* {
	font-family: 'Gilroy';
	color: #ffffff;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Regular.eot');
	src: url('../../fonts/Gilroy-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/Gilroy-Regular.woff') format('woff'),
		url('../../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Medium.eot');
	src: url('../../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Medium.woff') format('woff'),
		url('../../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Bold.eot');
	src: url('../../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Gilroy-Bold.woff') format('woff'),
	url('../../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	}