.party {
    &__container {
        position: relative;
        width: 100vw;
    }
    &__bg {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 370px;
        width: 100%;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(30, 37, 43, 0) 0%, rgba(30, 37, 43, 0.288409) 39.58%, rgba(30, 37, 43, 0.81) 68.75%, #1E252B 93.23%);
        }
    }
    &__header {
        display: flex;
        transform: translateY(-100px);
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 80vw;
        height: 150px;
        z-index: 100;
        &-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 20vw;
            height: 100%;
        }
        &-icon {
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background: #2C353D;
            z-index: 100;
            img {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                width: 85%;
                height: 85%;
            }
        }
        &-title {
            font-weight: 600;
            font-size: 50px;
            width: 30vw;

            &-goal {
                margin-left: 20px;
                width: 10vw;
                font-size: 35px;
                font-weight: 400;
                color:rgb(143, 142, 142);
            }
        }
        &-button {
            background: #5063EE;
            border-radius: 5px;
            width: 235px;
            height: 42px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            border-style: none;
            cursor: pointer;
        }
    }
    &_admin-message {
        margin-top: 10px;
        text-align: center;
    }
    &_new-admin {
        &_select {
            background: #d3787891;
            padding: 0px 26px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            text-align: right;
            height: 42px;
            width: 235px;
            border-style: none;
            border-radius: 5px;
            outline:0 none !important;
            cursor: pointer;
            &:active {
                outline:0 none !important;
            }
        }
        &_option {
            text-align: center;
           
            background-color: rgb(105, 105, 105);
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        transform: translateY(-40px);
        margin: 0 150px;
        width: 90vw;
        &-wrap {
            display: flex;
            flex-direction: column; 
            width: 20vw;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__user-icon {
        position: relative;
        width: 74px;
        height: 74px;
        border-radius: 100%;
        padding: 10px;
        margin-left: 30px;
        z-index: 10;
        img {
            position: absolute;
            transform: translate(-50%, -50%);
            object-fit: cover;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            // z-index: 100;
        }
    }
    &__users {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 30vw;
        align-items: center;
        .party__user-icon {
            margin-left: 0px;
            left: -2px;
            width: 37px;
            height: 37px;
            transform: translate(50%, 70%);
            img {
                width: 200%;
                height: 200%;
            }
        }
        .party__user-admin-icon {
            transform: translate(30%, -40%);
        }
        &-title {
            font-size: 26px;
            margin-bottom: 20px;

        }
    }
    
}
.icon-joined-num1 {
    transform: translate(0%, 35%);
    z-index: 259;
    position: relative;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}