.success-auth {
	transform: all 1s;
    .back {
		height: 495px;
		width: 914px;
		
		justify-content: flex-end;
		&__content {
			width: 515px;
			margin-right: 120px;
		}
		&__text {
			margin-top: 18px;
			
		}
	}
	.front {
		left: 43px;
		width: 155px;
		
		&__content {
			width: 102px;
			height: 102px;
		}
		&__img {
			width: 100%;
			height: 100%;
		}
	}
}

@keyframes changeFrontWidth {
	from {
		width: 478px;
	}
	
	to {
		width: 155px;
	}
}
@keyframes changeBackWidth {
	from {
		margin-right: 74px;
	}
	
	to {
		margin-right: 120px;
	}
}
.successFront-appear{
	opacity: 1;
	transition: 1s linear;
}

.successFront-appear.successFront-appear-active {
	// width: 155px;
	animation: changeFrontWidth 1s ease;
	opacity: 1;
	// transition: 1.5s linear;
}

.successBack-appear{
	opacity: 0;
  }
  
.successBack-appear.successBack-appear-active {
	opacity: 1;
	transition: 1s ease;
	animation: changeBackWidth 1s ease;
}
