.all-buttons {
	background-color: #5063ee;
	// display: flex;
	// justify-content: center;
	align-items: center;
	border-radius: 19px;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #eeeeee;
	width: 271px;
	height: 53px;
	border: none;
}

.signOut {
	margin-top: 100px;
// 	margin-top: 10vh;
	// z-index: 3;
	line-height: 53px;
}
.signOut:hover {
	cursor: pointer;
}
.signOut:active {
	cursor: pointer;
	.attention-container {
		display: block;
	}
}
.signOut::after {
	z-index: 400;
	position: absolute;
	width: 100%;
	height: 100%;
}
button {
	
	outline:0 none !important;

	&:active {
		outline:0 none !important;
	}
}
