.container-max {
	position: relative;
	top: 0px;
	left: 0px;
	min-height: 100vh;
	// width: 100vw;
	background-color: #1e252b;
	z-index: 1;
	overflow-x: hidden;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
		overflow-y: hidden;
}
.back-block__default {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
	width: 1190px;
	margin: 0 auto;
}
.back-1 {

	background-color: #2d9cdb;
	opacity: 0.1;
	border-radius: 64px;
	// top: 101px;
	// left: 114px;
	height: 748px;
	width: 970px;
	z-index: 1;
}
.back-2 {

	background-color: #2d9cdb;
	opacity: 0.1;
	border-radius: 64px;
	// top: 101px;
	// left: 1168px;
	height: 748px;
	width: 304px;
}

.tools {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 80.18px;
	height: 32px;
	top: 34px;
	right: 47px;
	z-index: 105;
}
.bell {
	width: 26px;
	height: 32px;
	img {
		width: 100%;
		height: 100%;
	}
	&:hover {
		cursor: pointer;
	}
}

.person {
	width: 32px;
	height: 32px;
	// margin-left: 22px;
}
.person:hover {
	cursor: pointer;
}
// sign out модальное окно
.attentionContainer {
	position: absolute;
	width: 100vw;
	backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.attentionContainer.open {
	display: block;
	z-index: 5001;
	width: 100%;
	height: 100%;
}
.attentionContainer.close {
	display: none;
}
.singOutAttention {
	position: fixed;
	background-color: #1e252b;
	z-index: 7778;
	width: 578px;
	height: 305px;
	border: 2px solid #5063ee;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 43px;
	margin: 297px 30vw;
}
