//right column
.header {
	box-sizing: border-box;
}
.back1 {
	margin-left: 166.83px;
	top: 0;
}
.back2 {
	margin-left: 198px;
	top: 0;
}
.back3 {
	margin-left: 118px;
	top: -10px;
}
.back4 {
	margin-left: 0;
	margin-top: 678px;
	bottom: 0;
}
.back5 {
	margin-left: 70px;
	margin-top: 763px;
	bottom: 0;
}
.back6 {
	margin-left: 5px;
	margin-top: 793px;
	bottom: 0;
}

.name {
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
	font-family: Roboto, sans-serif;
	color: #eeeeee;
	opacity: 0.5;
	font-size: 24px;
	position: absolute;
	right: 236px;
	top: 36px;
	height: 28px;
	box-sizing: border-box;
}

.customization {
	position: absolute;
	right: -30px;
	top: -10px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	img {
		width: 100%;
		height: 100%;
	}
}
//card
.main-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	// height: 100%;
}
.person-card {
	box-sizing: border-box;
	border-radius: 100%;
	width: 100%;
	height: 40%;
	//position: absolute;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	// top: 224px;
	// right: 91px;
}
.card-photo {
	cursor: pointer;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	width: 170px;
	height: 170px;
	border-radius: 100%;
	margin-bottom: 60px;
	// margin-top: 50px;
	&__img {
		width: 170px;
		height: 170px;
		position: relative;
		border-radius: 175px;
		
		img {
			width: 100%;
			height: 100%;
			background-size: cover;
			object-fit: cover;
			pointer-events: none;
		}
		.avatar {
			position: absolute;
			visibility: hidden;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
		}
		
	}
}
.labelAvatar {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;
	cursor: pointer;
	
}




.card-name-person {
	font-size: 24px;
	line-height: 28px;
	color: #eeeeee;
	margin: 13px 0;
}
.card-mail {
	color: #5063ee;
	font-size: 20px;
	line-height: 23px;
}
.card-name {
	font-size: 20px;
	line-height: 23px;
	color: #828282;
	margin: 13px 0px;
}
.container-max {
	display: flex;
}
.profile-column {
	position: relative;
	height: 100vh;
	width: 380px;
	//display: none;
	background-color: #2c353d;
	z-index: 100;
	position: fixed;
	right: -380px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.profile-column.open {
	display: flex;
	right: 0;
	transition: all 0.2s ease-in-out;
	align-items: center;
}
.profile-column.close {
	//display: none;
	right: -380px;
	transition: all 0.2s ease-in-out;
}
.background img {
	position: absolute;
}
.hidden-container {
	position: absolute;
	width: 100%;
	height: 100%;
}
.hidden-container.open {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	transition: all 0.6s ease-in-out;
	z-index: 20;
}
.hidden-container.close {
	position: absolute;
	left: -100vw;
	transition: all 0.6s ease-in-out;
}