.change-pass {
	.back {
		width: 920px;
		height: 495px;
		justify-content: center;
		align-items: center;
		border-radius: 39px;

		&__content {
		
			top: 110px;
			left: 50%;
			right: unset;
			width: 970px;
		}
		&__title {
			margin-left: 20px;
		}
		&__wrapper {
			width: 100%;
			margin-top: 35px;
			display: flex;
			justify-content: space-around;
		}
		&__item {
			width: 260px;
			position: relative;
			&:nth-child(3) {
				align-self: flex-end;
			}
		}
		&__input {
			width: 100%;
			margin-top: 8px;
			border: 1px solid #C6C6C6;
			color: #C6C6C6;
			border-radius: 4px;
			height: 40px;
			font-size: 16px;
			line-height: 19px;
			font-weight: 400;
			background-color: #5063EE;
			padding: 12px 14px;
		}

		.button {
			color: #FFFFFF;
			width: 260px;
			background: #2C353D;
			font-size: 16px;
			line-height: 19px;
			
		}

		.password-form {
			// position: relative;
			margin: 8px 0 0 0;
			background-color: #5063EE;
			height: 40px;
			color: #C6C6C6;
			&::focus  {
				top: 0px;
				background-color: yellow;
			}
			
		}
	}
	
}