//модалка смены пароля
.attention-container-changePassword {
	position: absolute;
	width: 100vw;
	backdrop-filter: blur(5px);
	//z-index: 3600;
	
}
.attention-container-changePassword.open {
	display: block;
	z-index: 4898;
	width: 100%;
	height: 100%;
	
}
.attention-container-changePassword.close {
	display: none;
}
.changePassword {
	background-color: #1e252b;
	position: fixed;
	z-index: 4899;
	border: 2px solid #5063ee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 43px;
	width: 578px;
	height: 479px;
	top: 20vh;
	left: 30vw;
}
.change-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.input-pass {
	
	width: 300px;
	height: 40px;
	box-sizing: border-box;
	background-color: #1e252b;
	padding-left: 10px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
	border: 1px solid #c6c6c6;
	margin-bottom: 2.5vh;
	border-radius: 5px;
}
.btn-change {
	width: 300px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 3vh;
	box-sizing: border-box;
}
.white-text-1 {
	color: #eeeeee;
	font-size: 38px;
	line-height: 44px;
	font-weight: 100;
	margin-bottom: 6vh;
}
.btn-yes {
	width: 432px;
	cursor: pointer;
}
.btn-cancel {
	background-color: #1e252b;
	cursor: pointer;
}
.btn-cancel:active,
.btn-cancel:focus {
	outline: none;
}
.x {
	position: absolute;
	top: 20px;
	right: 20px;
}
.x:hover {
	cursor: pointer;
}
.contain-old-pass {
	width: 300px;
	display: flex;
	justify-content: flex-end;
}
.openedEye {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 90px;
}
.openedEye.open {
	display: block;
	.closedEye {
		display: none;
	}
}
.openedEye.close {
	display: none;
	.closedEye {
		display: block;
	}
}
.openedEye2 {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 90px;
}
.openedEye2.open {
	display: block;
	.closedEye2 {
		display: none;
	}
}
.openedEye2.close {
	display: none;
	.closedEye2 {
		display: block;
	}
}
.openedEye:hover,
.openedEye2:hover {
	cursor: pointer;
}
