.auth {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: #1e252b;
	// background: url("../../img/bg_main.jpg") center (center / cover) no-repeat; 
	z-index: -100;
	overflow: hidden;
	transition: all 0.3s linear;  
}

.mouse-parallax-bg {
    position: fixed;
	top: -50px;
    left: -50px;
    // background-image: url("../../img/bg_main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    height: 120%;
    transition: all 0.2s ease;  
	z-index: -100;
}

.validation-text {
	color: #EB5757;
	position: relative; 
	top: '0';
	text-align: right; 
	font-size: 14px;
	margin-bottom: 3px;
	transition: all .5s;
}

.validation-text-change {
	color: #EB5757; 
	display: flex;
	justify-content: flex-end;
	font-size: 12px; 
	margin-bottom: 3px;
}

.front {
	position: absolute;
	height: 100vh;
	background: #2C353D;
	box-shadow: 0px 0px 108px -3px rgba(0, 0, 0, 0.25);
	&__content {
		position: absolute;
		top: 0px;
		height: 298px;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		
	}
	&__title {
		text-align: center;
		font-size: 36px;
		line-height: 42px;
		font-weight: 400;
	}
	
	&__input {
		width: 100%;
		border: 1px solid #C6C6C6;
		color: #C6C6C6;
		border-radius: 4px;
		height: 40px;
		font-size: 16px;
		line-height: 19px;
		font-weight: 400;
		background-color: #2C353D;
		margin-bottom: 20px;
		padding: 12px 14px;
	}
	&__label {
		width: 14px;
		height: 14px;
		cursor: pointer;
		
	}
	&__checkbox {
		position: absolute;
		opacity: 0;
		
		&_new {
			display: inline-block;
			position: relative;
			top: 2px;
			left: 0;
			width: 14px;
			height: 14px;
			border-radius: 4px;
			border: 1px solid #C6C6C6;
			background-color: #2C353D;
			&::before {
				content: url(../../icons/check.svg);
				position: absolute;
				display: block;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				opacity: 0;
				transition: 0.2s;
			}
		}
		&:checked + .front__checkbox_new::before {
			opacity: 1;
		}
	}
	&__remember {
		color: #C6C6C6;
		font-size: 14px;
		line-height: 17px;
		font-weight: 400;
		margin-left: 8px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 35px;
	}
	&__social {
		display: inline-block;
		background: #EEEEEE;
		border-radius: 5px;
		width: 43px;
		height: 43px;
		padding: 4px;
		cursor: pointer;
	}
}
.back {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #5063EE;
	border-radius: 39px;
	z-index: 0;
	display: flex;
	align-items: center;
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 40px;
		line-height: 46px;
		font-weight: 400;
	}
	&__text {
		margin-top: 28px;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
	}
	.button {
		color: #2C353D;
	}

}
.email-form {
	width: 100%;
	border: 1px solid #C6C6C6;
	color: #C6C6C6;
	border-radius: 4px;
	height: 42px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	background-color: #2C353D;
	margin-bottom: 20px;
	padding: 12px 14px;

}

.password-form {
	width: 100%;
	border: 1px solid #C6C6C6;
	color: #C6C6C6;
	border-radius: 4px;
	height: 42px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	background-color: #2C353D;
	margin-bottom: 20px;
	padding: 12px 14px;
	
}
.input {
	width: 100%;
	border: 1px solid #C6C6C6;
	color: #C6C6C6;
	border-radius: 4px;
	height: 42px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	background-color: #2C353D;
	margin-bottom: 20px;
	padding: 12px 14px;
	
}
.nav {
	display: flex; 
	justify-content: space-around;
  }
  
  .transition-group {
	flex: 1;
	position: relative;
  }
  
  .router {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  .page {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
	text-align: center;
	font-size: 100px;
	font-style: italic;
	font-family: Times;
	padding-top: 20px;
  }
  
  .fade-enter .page {
	opacity: 0;
	z-index: 1;
  }
  
  .fade-enter.fade-enter-active .page {
	opacity: 1;
	transition: opacity 450ms ease-in;
  }